:root {
--color00: #160d20;
--color01: #160d20;
--color02: #160d20;
--color03: #c4c2c7;
--color04: #c2b5cf;
--color05: #c2b5cf;
--color06: #c2b5cf;
--color07: #c2b5cf;
--color08: #9B2463;
--color09: #A15159;
--color0A: #c79196;
--color0B: #CB2D5F;
--color0C: #394E8D;
--color0D: #E55A62;
--color0E: #F6AC67;
--color0F: #d64f96;
}
