/*

Omarchy Steam Theme
Last Modified: 2025-11-15

*/

:root {
    /* The main accent color and the matching text value */
    --adw-accent-bg-rgb: 229, 90, 98 !important;
    --adw-accent-fg-rgb: 22, 13, 32 !important;
    --adw-accent-rgb: 229, 90, 98 !important;

    /* destructive-action buttons */
    --adw-destructive-bg-rgb: 155, 36, 99 !important;
    --adw-destructive-fg-rgb: 194, 181, 207 !important;
    --adw-destructive-rgb: 155, 36, 99 !important;

    /* Levelbars, entries, labels and infobars. These don't need text colors */
    --adw-success-bg-rgb: 203, 45, 95 !important;
    --adw-success-fg-rgb: 22, 13, 32 !important;
    --adw-success-rgb: 203, 45, 95 !important;

    --adw-warning-bg-rgb: 199, 145, 150 !important;
    --adw-warning-fg-rgb: 22, 13, 32 !important;
    --adw-warning-fg-a: 0.8 !important;
    --adw-warning-rgb: 199, 145, 150 !important;

    --adw-error-bg-rgb: 155, 36, 99 !important;
    --adw-error-fg-rgb: 22, 13, 32 !important;
    --adw-error-rgb: 155, 36, 99 !important;

    /* Window */
    --adw-window-bg-rgb: 22, 13, 32 !important;
    --adw-window-fg-rgb: 194, 181, 207 !important;

    /* Views - e.g. text view or tree view */
    --adw-view-bg-rgb: 22, 13, 32 !important;
    --adw-view-fg-rgb: 194, 181, 207 !important;

    /* Header bar, search bar, tab bar */
    --adw-headerbar-bg-rgb: 22, 13, 32 !important;
    --adw-headerbar-fg-rgb: 194, 181, 207 !important;
    --adw-headerbar-border-rgb: 102, 93, 113 !important;
    --adw-headerbar-backdrop-rgb: 22, 13, 32 !important;
    --adw-headerbar-shade-rgb: 0, 0, 0 !important;
    --adw-headerbar-shade-a: 0.36 !important;
    --adw-headerbar-darker-shade-rgb: 0, 0, 0 !important;
    --adw-headerbar-darker-shade-a: 0.9 !important;

    /* Split pane views */
    --adw-sidebar-bg-rgb: 22, 13, 32 !important;
    --adw-sidebar-fg-rgb: 194, 181, 207 !important;
    --adw-sidebar-backdrop-rgb: 102, 93, 113 !important;
    --adw-sidebar-shade-rgb: 0, 0, 0 !important;
    --adw-sidebar-shade-a: 0.36 !important;

    --adw-secondary-sidebar-bg-rgb: 22, 13, 32 !important;
    --adw-secondary-sidebar-fg-rgb: 194, 181, 207 !important;
    --adw-secondary-sidebar-backdrop-rgb: 102, 93, 113 !important;
    --adw-secondary-sidebar-shade-rgb: 0, 0, 0 !important;
    --adw-secondary-sidebar-shade-a: 0.36 !important;

    /* Cards, boxed lists */
    --adw-card-bg-rgb: 255, 255, 255 !important;
    --adw-card-bg-a: 0.08 !important;
    --adw-card-fg-rgb: 255, 255, 255 !important;
    --adw-card-shade-rgb: 0, 0, 0 !important;
    --adw-card-shade-a: 0.36 !important;

    /* Dialogs */
    --adw-dialog-bg-rgb: 22, 13, 32 !important;
    --adw-dialog-fg-rgb: 194, 181, 207 !important;

    /* Popovers */
    --adw-popover-bg-rgb: 22, 13, 32 !important;
    --adw-popover-fg-rgb: 194, 181, 207 !important;

    /* Thumbnails */
    --adw-thumbnail-bg-rgb: 22, 13, 32 !important;
    --adw-popover-fg-rgb: 194, 181, 207 !important;

    /* Miscellaneous */
    --adw-shade-rgb: 0, 0, 0 !important;
    --adw-shade-a: 0.36 !important;
}
