    /**
    * @name Omarchy
    * @author @bypass_
    * @version 0.1.0
    * @description Match Omarchy system theme.
    * @source https://github.com/imbypass/base16-Discord
    **/
    @import url("https://imbypass.github.io/base16-discord/omarchy-discord.theme.css");

    :root {
        --color00: #160d20;
        --color01: #160d20;
        --color02: #160d20;
        --color03: #c4c2c7;
        --color04: #c2b5cf;
        --color05: #c2b5cf;
        --color06: #c2b5cf;
        --color07: #c2b5cf;
        --color08: #c2b5cf;
        --color09: #A15159;
        --color10: #c79196;
        --color11: #CB2D5F;
        --color12: #394E8D;
        --color13: #E55A62;
        --color14: #F6AC67;
        --color15: #A15159;
    }
