@define-color background #160d20;
@define-color foreground #e1d8eb;

@define-color color0 #160d20;
@define-color color1 #9B2463;
@define-color color2 #CB2D5F;
@define-color color3 #A15159;
@define-color color4 #E55A62;
@define-color color5 #F6AC67;
@define-color color6 #394E8D;
@define-color color7 #c2b5cf;
@define-color color8 #665d71;
@define-color color9 #d64f96;
@define-color color10 #e27c9c;
@define-color color11 #c79196;
@define-color color12 #f3b2b6;
@define-color color13 #fce1c7;
@define-color color14 #6980c3;
@define-color color15 #f7f7f8;
